.project {
    font-family: cursive;
}
.projects-list{
    width: 1280px;
    height: 100%;
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 50px;
    padding-top: 200px;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    
}
